html, body {
    height: 100%;
}

body {
    margin: 0;
}

header {
    padding: 1em;
    font-size: 150%;
    background-color: #eeeeee;
}

main {
    margin: 1em;
}

aside {
    float: right;
    width: 20vw;
    height: 70%;
    margin: 1em;
    padding: 1em;
    background-color: #eeeeee;
}

    aside iframe {
        border: none;
        height: 100%
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0082ff;
}

ul.undecorated {
    list-style-type: none;
    padding-left: 0;
}
